img {
    width: 350px;
    height: 250px;
}

.send{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.timerr{
  font-size: 18px;
  background-color: #b3d1ff;
  display:inline;
  border-radius: 5%;
}

.wel {
  font-size: 20px;
}

.startQ{
  background-color: #66a3ff;
}